.controls-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  padding: 0.5em 1em;
}

.sort-control {
  display: flex;
  align-items: center;
}

.sort-control-group {
  display: flex;
  align-items: center;
}

.sort-control:not(:last-child) {
  margin-right: 1.5em;
}

.sort-control-label {
  margin-right: 0.5em;
}

.sort-control-label-icon {
  display: none;
}

.sort-control-input {
  font-size: 14px;
  background-color: transparent;

}

.sort-control-button {
  border-radius: 4px;
  height: 32px;
  width: 32px;
  color: var(--color-dark);
  border: 1px solid var(--color-gray);
}

.sort-control-input {
  padding: 0.2em 1em;
  border-radius: 4px;
  width: 6em;
}

.sort-control-select {
  background-color: transparent;
  padding: 0.2em 1em;
  border-radius: 4px;
  font-size: 14px;
}

.sort-control.hidden {
  visibility: hidden;
}