.filters__filter-name {
  background-color: var(--color-primary);
  margin: 0;
  padding: 0.3em 2em 0.3em 0.5em;
  text-align: left;
  font-weight: 400;
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
  padding-top: 1em;
}

.category-list {
  margin: 0;
  padding-inline-start: 1em;
  list-style-type: none;
  font-size: 12px;
}

.category-list_first-level {
  padding: 0 2em;
}

.category-list_sublevel {
  border-left: 1px solid var(--color-gray);
}

.category-list__item {
  color: var(--color-complementary);
  cursor: pointer;
  font-weight: 400;
}

.category-list:not(:last-child) {
  margin-bottom: 1.5em;
}

.category-list__item:not(:last-child) {
  margin-bottom: 0.5em;
}

.category-list__button_selected {
  font-weight: 800;
}

.filters__filter-controls {
  margin-bottom: 1.5em;
}

.filters__filter-checkbox {
  display: flex;
}

.filters__filter-controls label{
  display: block;
}

.filters__filter-controls input {
  display: block;
  margin-bottom: 1em;
}

.filters__filter-controls input[type='number'], .filters__filter-controls input[type='text']{
  width: 90%;
  margin-top: 4px;
}

.filters__filter-controls input[type='checkbox']{
  margin-right: 0.5em;
}

@media (max-width: 1023px) {

  .filters {
    font-size: 18px;
  }

  .filters__filter-controls {
    padding: 0 2em;
  }

  .category-list {
    font-size: 16px;
  }

  .category-list__item {
    padding: 0.3em 0;
  }

  .category-list_first-level {
    padding: 0em;
  }

  .filters__filter-controls input[type='number'], .filters__filter-controls input[type='text']{
    font-size: 18px;
    height: 2em;
  }
}