.app {
  --color-dark: #222222;
  --color-gray: #aaaaaa;
  --color-light: #FCFCFC;
  --color-primary: #F9DC5C;
  --color-secondary: #33658A;
  --color-accent: #ED254E;
}

.app-main {
  max-width: 1000px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
}

.product-list {
}

