.category-list {
  margin: 0;
  list-style-type: none;
  font-size: 12px;
  padding-inline-start: 1.25em;
}

.category-list .category-list:not(:last-child) {
  margin-bottom: 1.5em;
}

.category-list-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.category-list > li {
  font-weight: bold;
}

.category-list > ul > li{
  font-weight: normal;
}