.list-container {
  padding: 1em 2em 1em 1em;
}

.category-list {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: none;
  font-size: 12px;
}

.category-list:not(:first-child) {
  border-left: 1px solid var(--color-gray);
}

.category-list-item {
  color: var(--color-secondary);
  cursor: pointer;
  font-weight: 400;
}

.category-list-item.selected {
  font-weight: 900;
}

.category-list:not(:last-child) {
  margin-bottom: 1.5em;
}

.category-list-item:not(:last-child) {
  margin-bottom: 0.7em;
}

.category-list .selected {
  font-weight: bold;
}